<?xml version="1.0" encoding="UTF-8"?>
<Confiiguration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} &#91;%t&#93;%-5level%logger{36} - %msg%n" />
		</Console>
		<File name="fileAppender" fileName="log/mylog.log">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} &#91;%t&#93;%-5level%logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="Console"></AppenderRef>
			<AppenderRef ref="fileAppender"></AppenderRef>
		</Root>
	</Loggers>
</Confiiguration>